body {
    background: url("../images/light_grey.png");
    /* margin: 0 auto; */
    width: 100%;
    font-family: arial, 'helvetica neue', helvetica, sans-serif;

}
.navigation-container {
    width: 100%;
    padding: 30px;
    font-size: 24px;
    margin-bottom: 20px;
    background: lightgray;
}
.header {
    position: fixed;
    left: 230px;
    top: 3px;
    background: rgb(5, 99, 5);
    color: white;
    padding: 16px;
}

.navbar {
    position: fixed;
    right: 221px;
    top: 3px;
    
    padding: 16px;
    line-height: 6px;
}
a:hover {
    color: rgb(23, 6, 172);
}

a:focus {
    color: purple;
}
a:active {
    color: red;
}
.about-container {
    width: 960px;
    margin: 0 auto;
    height: 400px;
    background: white;

}
.about-me {
    font-size: 30px;
    color: rgb(5, 99, 5);
    padding: 8px;
}
.paragraph {
    padding: 8px;
}

.image {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 8px;
}


.footer { 
    text-align: center;
    width: 100%;
    background: lightgray;
    bottom: 4px;
    padding: 10px;
    position: fixed;
    color: black;
}


/* styling contact.html from here below */
.contact-container {
    width: 500px;
    position: relative;
    /* height: 200px; */
    float: left;
    /* margin: 0 auto; */
    background: white;  
    left: 230px;
}

.contact {
    font-size: 30px;
    color: rgb(5, 99, 5);
    padding: 8px;
    margin-left: 10px;
    margin-top: 10px;
    /* float: left; */
    
}

.input {
    /* width: 44px; */
    margin: 0 auto;
    text-align: center;
    height: 200px;
}
.aside {
    position: relative;
    left: 600px;
    bottom: 320px;
    float: right;
    width: 400px;
    height: 250px;
    background: white;
    padding: 10px;
}
h3 {
    font-size: 24px;
    padding: 10px;
}
/* End of contact.html */


/* portfolio.html styles start from here */
.portfolio {
    font-size: 30px;
    margin-left: 8px;
    margin-top: 3px;
    color: rgb(5, 99, 5);
}
/* .pictures-conainer {
    width: 200px;
    height: 200px;
} */
.picture-wraper {
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 100%;
    background: white;
    
}
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.picture1 {
    margin: 8px;
    /* float: left; */
    /* width: 300px; */
    
}
.picture2 {
    margin: 8px;
    /* float: left; */
    /* width: 300px; */
}
.picture3 {
    margin: 8px;
    /* position: relative; */
    /* left: 200px; */
    /* float: left; */
    /* width: 300px; */
    
}
.picture4 {
    margin: 8px;
    /* float: left; */
    /* width: 250px; */
}
/* aside {
    position: absolute;
    width: 400px;
    float: right;
} */